.product-card {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    background: #fff;
    color: black;
  }
  
  .product-card img {
    width: 100%;
    border-radius: 10px;
  }
  
  .product-card h3 {
    margin: 10px 0;
    color: black;
  }
  
  .product-card p {
    color: black;
  }
  